/* Write CSS code here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(92, 15, 15); /* you can change this if you like */
}

.navigation {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    padding: 12px 20px;
}
.navigation ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navigation ul li {
    height: 35px;
    width: 35px;
    margin: 1rem;
    padding: 0 1rem;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s linear;
}
.navigation ul li:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.2);
    background-color: #2b0a0a;
    border-radius: 50%;
}
